<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <style>
    .welcome-container {
      padding: 10px;
      margin-top: 0px;
    }
  </style>
</head>

<div class="welcome-container">
  <h1>Welcome!</h1>
  <p> Welcome to Simple Node & Express project</p>
  <p> To learn more about this <a href="/contact">Click Here</a> to contact us</p>
  <p>Please <a href="/users">Click Here</a> to check the list of users registered</p>
</div>