<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Not Found</title>
</head>

<div class="user-not-found-container">
    <h5>The User Name which you want to Delete is not found</h5>
    <p>Please
        <a href="/users">Click Here</a> to check existing users
    </p>
</div>