<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete User</title>
</head>
<div class="form-container">
  <h8>Please type the name of the person you would like to delete</h8><br><br>
  <form action="/users/deleteUser" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Submit</button>
  </form>
</div>
</body>

</html>