<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <style>
    .welcome-container {
      padding: 10px;
      margin-top: 0px;
    }
  </style>
</head>

<div class="welcome-container">
  <h3 style="padding-top: 20px;">- ABC Publishing -</h3>
    <div class="navbar navbar-light bg-light rounded"> <!-- Enclosing the content within a box -->
      <p>
        <strong>Theme</strong><br><br>
        Welcome to Node.js with EJS and Bootstrap <br><br>
        Adding MongoDB using Mongoose for Modeling
      </p>
    </div><br>
    
  <p> To learn more about this <a href="/contact">Click Here</a> to contact us</p>
  <p>Please <a href="/users">Click Here</a> to check the list of users registered</p>
</div>