<!DOCTYPE html>
<html lang="en">

<head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav">TOP NAVIGATION<br>NAVIGATION</a>
</head>

<body>

  <%- body %>
</body>


<footer class="footer">
  <div class="footer-content">
    <h7>FOOTER</h7>
  </div>
</footer>

</html>